<!DOCTYPE html>
<html lang="'en'" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient Of Doctor</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Patient
    </header>
    <div class="Patients">
      <table>
        <tbody>
          <tr>
            <th class="dailybox">Date</th>
            <th class="dailybox">Comment</th>
            <th class="dailybox">Caregiver's Name</th>
            <th class="dailybox">Morning Medicine</th>
            <th class="dailybox">Afternoon Medicine</th>
            <th class="dailybox">Night Medicine</th>
          </tr>
        {% for patient in doctor_patient %}
          <tr>
         <td class="inputbox">{{ doctorpatient['date']}}</td>
         <td class="inputbox">{{ doctorpatient['Comment']}}</td>
         <td class="inputbox">{{ doctorpatient['morning_med']}}</td>
         <td class="inputbox">{{ patient['afternoon_med']}}</td>
         <td class="inputbox">{{ patient['night_med']}}</td>

          </tr>
       {% endfor %}
       </tbody>
      </table>
      
    </div>
    <p class="normalbox">New Perscription</p>
    <div class="Newperscription">
      <table>
        <tbody>
          <tr>
            <th class="dailybox">Comment</th>
            <th class="dailybox">Morning Medicine</th>
            <th class="dailybox">Afternoon Medicine</th>
            <th class="dailybox">Night Medicine</th>
          </tr>
        {% for patient in patient_information %}
          <tr>
         <td class="inputbox">{{ doctorpatient['Comment']}}</td>
         <td class="inputbox">{{ doctorpatient['morning_med']}}</td>
         <td class="inputbox">{{ doctorpatient['afternoon_med']}}</td>
         <td class="inputbox">{{ doctorpatient['night_med']}}</td>

          </tr>
       {% endfor %}
       </tbody>
      </table>
      <p class="dailybox">
        Comment
      </p>
      <p></p>
      <p class="dailybox">
        Morning Med
      </p>
      <p></p>
      <p class="dailybox">
        Afternoon Med
      </p>
      <p></p>
      <p class="dailybox">
        Night Med
      </p>
      <p></p>
    </div>
    <a href="../Home-pages/Doctorhome.html" class="loginmovement">Ok</a>
    <a href="../Home-pages/Doctorhome.html" class="loginmovement">Cancel</a>
  </body>
</html>
