<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Roster</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      New Roster
    </header>
    <p class="normalbox">
      Date
    </p>
    <input type="text" name="Date" class="inputbox">
    <div class="dropdown">
      <p class="normalbox">Supervisor</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <p class="normalbox">Doctor</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <p class="normalbox">Caregiver 1</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <p class="normalbox">Caregiver 2</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <p class="normalbox">Caregiver 3</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <p class="normalbox">Caregiver 4</p>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        {% for people in supervisor %}
        <p>{{ supervisor['Fname, Lname']}}</p>
        {% endfor %}
      </div>
    </div>
    <a href="Adminreport.html" class="loginmovement">Ok</a>
    <a href="Adminreport.html" class="loginmovement">Cancel</a>
  </body>
</html>
